body {
    min-height: 100vh;
    width: 100vw;
    background-image: radial-gradient(#cfcdcd, #FFFFFF)
}

header{
    width:100%;
    position:absolute;
    top:10px;
}

.hover__background{
    z-index:1;
}

#header__language-background {
    color: #FFFFFF;
    font-size: 15px;
    background-image: radial-gradient(#cfcdcd, #FFFFFF);
    padding: 3px 20px;
}

.wrapp__large{
    padding:50px 30px 3px 30px;
}

h2{
    font-size:1.5rem !important;
}

#background__top-homepage {
    background-image: url(../IMAGES/HOME/Earth.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    z-index: -1;
}

#background__top-mathematiques {
    background-image: url(../IMAGES/DASHBOARD/math.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    z-index: -1;
}

#background__top-bioecologie {
    background-image: url(../IMAGES/DASHBOARD/bio.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    z-index: -1;
}

#background__top-physique {
    background-image: url(../IMAGES/DASHBOARD/physique.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    z-index: -1;
}

#background__top-dashboard-Measures {
    background-image: url(../IMAGES/HOME/Tailor.jpg);
    background-size: cover;
    background-position: center;
    height: 20vh;
    z-index: -1;
}

.background__top-homelogin {
    width: 100vw;
    height:100vh !important;
    z-index: 0;
    box-shadow: #000000 2px 2px 2px;
}

#menu__top-pages {
    margin-top: 20px;
    background-image: radial-gradient(#cfcdcd, #FFFFFF);
    padding: 3px 20px;
}

.menu{
    margin:auto;
    color:#000000;
}

.menu a:hover {
    color: #8a8a8a;
}

.row{
    margin-right:0 !important;
    margin-left:0 !important;
}

.btn{
    padding:0 5px !important;
}

.menu a{
    color:#000000;
}

/*HOMEPAGE - ARTICLE*/

#home__article-ladies {
    background-image: url(../IMAGES/HOME/Ladies.jpg);
}

.home__article img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.home__article{
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    height: 50vh;
}

#home__article-gentlemens {
    background-image: url(../IMAGES/HOME/Gentlemens.jpg);
}

.home__images-hover {
    opacity: 0;
    transition: opacity 1s ease-out 0.1s;
}

.home__images-hover:hover {
    opacity:1;
    transition:opacity 1s ease-out 0.1s;
}

.home__label-hover {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 70px;
}

.home__label-hover-suit {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 130px;
}

.home__label-button {
    color: #000000f2;
    opacity: 1;
    padding: 5px 30px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #e9ecef00,#ffffff5e,#ffffff5e,#ffffff5e,#e9ecef00);
}

#home__wedding-picture {
    background-image: url(../IMAGES/HOME/Wedding.jpg);
}

.home__banner {
    background-image: linear-gradient(to right, #ffffffc4, #ffffff,#ffffff,#ffffffc4);
    box-shadow: #121212c4 0px 0px 3px 0px;
    color: #6b7075;
}

.button {
    color: #000000;
    box-shadow:0px 2px 2px #000000;
    padding: 5px 30px;
    background-color: #d2b36e;
    border-radius:20px;
    text-shadow:none;
    transition: background-color 1s ease-out 0.1s, text-shadow 0.8s ease-out 0.1s;
    -webkit-transition: background-color 1s ease-out 0.1s, text-shadow 0.8s ease-out 0.1s;
}

    .button:hover {
        transition: background-color 1s ease-out 0.1s, text-shadow 0.8s ease-out 0.1s;
        -webkit-transition: background-color 1s ease-out 0.1s, text-shadow 0.8s ease-out 0.1s;
        background-color: #6c757d;
        text-shadow: #121212c4 0px 2px 3px 0px;
        color: #ffffff;
    }

.button__wrapp{
    margin-top:30px;
    margin-bottom:30px;
}

a:hover{
    text-decoration:none !important;
    
}

/*FOOTER OF THE HOME PAGE*/

footer {
    background-image: linear-gradient(to right, #06081d, #21397c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.Icons__social-media{
    padding:10px;
}

.Icons__social-media img {
    width:100%;
    height:100%;
    object-fit:contain;
}

.border__grey {
    border-right: solid 1px #f3f3f3;
}

    .boder__grey p {
        color: #8a8a8a;
    }

.link__grey {
    color: #FFFFFF;
    padding: 5px 30px;
    background-color: #ffffff47;
    transition: background-color 1s ease-out 0.1s, color 0.5s ease;
    -webkit-transition: background-color 1s ease-out 0.1s, color 0.5s ease;
}

.link__grey:hover {
     color: #000000;
     background-color: #ffffff;
     transition: background-color 1s ease-out 0.1s, color 0.5s ease;
     -webkit-transition: background-color 1s ease-out 0.1s, color 0.5s ease;
    }

.quicklinks_footer {
    color: #8a8a8a;
}

.quicklinks_footer:hover {
    color: #ffffff;
}

h3{
    font-size:1.25rem !important;
}

ul{
    list-style:none;
}

li {
    margin-bottom:15px;
}

.quicklinks{
    text-align:center;
}

.upload_work {
    background-color: #ffffffb8;
    color:#ffffff;
    box-shadow: 0px 8px 20px 0px #00000087;
    transition: background-color 1s ease-out 0.1s, color 0.5s ease;
}

.upload_work:hover {
    background-color: #ffffff;
    transition: background-color 1s ease-out 0.1s, color 0.5s ease;
    color:#000000;
}

/*LASIES - HOMEPAGE */
.background__top-ladies-caroussel {
    position: absolute !important;
    top: 0;
}

.carousel-item img {
    object-fit: cover !important;
    object-position: top;
    height: 100% !important;
}

.background__top-ladies-caroussel {
    height: 100vh;
}

.carousel-item{
    height:100%;
}

.darker_background {
    background: #13131345;
    padding:20px;
}

.carousel-caption{
    bottom:30vh !important;
}

#Ladies__top-long{
    bottom:30vh !important;
}

#Ladies__top-wedding{
    bottom:35vh !important;
}

.carousel-indicators{
    bottom:20vh !important;
}

.ladies__background {
    width: 100%;
    margin-top:80vh;
}


.ladies__background-popup {
    background-color: #fffffff7;
}

.ladies_link{
    width:33.3%;
}

.ladies_choice{
    width:100%;
    height:100%;
    object-fit:cover;
}

.ladies_suit_choice {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#darker_background_row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.button__ladies {
    position: absolute;
    z-index: 2;
}





/* LADIES - DRESSES  SIMULATOR */
#background__top-ladies {
    background-image: url(../IMAGES/LADIES/Ladies-top.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
}

#background__top-wedding {
    background-image: url(../IMAGES/LADIES/Ladies-top-wedding-1.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
}

#background__top-wedding-dark {
    background-image: url(../IMAGES/LADIES/Ladies-top-wedding-1-dark.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
}

.personalisation__background{
    width:100%;
    position:relative;
    margin-top:40vh;
}

.personalisation__background-popup {
    background-color: #fffffff7;
}

.simulator__window {
    background-image: radial-gradient(#ffffff, #cfcfcf);
    box-shadow: #12121236 0px 0px 3px 0px;
    width: 100%;
    min-height: 400px;
    padding-left:0px !important;
}

.simulator__window img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.absolute{
    position:absolute;
}

#selector__options_wrap {
    position: fixed;
    bottom: 0px;
}



#simulator__window_measures {
    min-height: 400px;
    max-width: 300px;
}

#selector__options {
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#selector__options a {
    display: inline-block;
}

#selector__options img {
   margin:auto;
}

.opaque-05{
    opacity:0.15;
}

.navigation__number{
    object-fit:contain;
    object-position:center;
    width:30px;
    height:30px;
}

.navigation__modify {
    object-fit: contain;
    object-position: center;
    width: 20px;
    height: 20px;
}

#Model_navigation {
    width: 100%;
}

#Model_navigation {
    animation: pulse 3s ease-out infinite
}

#Cut_navigation {
    animation: pulse 3s ease-out 0.3s infinite
}

#Style_navigation {
    animation: pulse 3s ease-out 0.6s infinite
}

#Shoulders_navigation {
    animation: pulse 3s ease-out 0.9s infinite
}

#Sleeves_navigation {
    animation: pulse 3s ease-out 1.2s infinite
}

#Back_navigation {
    animation: pulse 3s ease-out 1.5s infinite
}

#Measures_navigation {
    animation: pulse 3s ease-out 1.8s infinite
}

#simulator__navigator-scale{
    height:3px;
    margin-right:10%;
    width:100%;
    background-image:linear-gradient(to right, #dddddd, #000000);
    z-index:0;
}

#button__select_option {
    opacity:0;
    animation: fade 1.5s ease-out 0.1s forwards;
}

.simulator__window img {
    opacity: 0;
    animation: fade 1s ease-out 0.1s forwards;
}

#simulator__navigator-text {
    font-style: italic;
}

.no_margin {
    margin-left: -15px;
    margin-right: -15px;
}

#preview_real img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    max-height: 176px;
}

#preview_real{
    max-height:200px;
    width:100%;
}

.simulator__view a {
    color:#ffffff;
}
.w-100{
    width:100%;
}

.beige_background {
    background-color: #ded7cf70;
}

.beige_background_dark {
    background-color: #a29b8b;
}

.simulator__animation-background{
    position:absolute;
    opacity:0;
}

#simulator__line0 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 20%;
    width: 80%;
    animation: appear_line 17s ease infinite;
}

#simulator__line1 {
    border-top: solid 2px #3a3a3aed;
    left: 10%;
    top: 25%;
    width: 80%;
    animation: appear_line 17s ease 0.25s infinite;
}

#simulator__line2 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 30%;
    width: 80%;
    animation: appear_line 17s ease 0.5s infinite;
}

#simulator__line3 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 35%;
    width: 80%;
    animation: appear_line 17s ease 1s infinite;
}

#simulator__line4 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 40%;
    width: 80%;
    animation: appear_line 17s ease 1.5s infinite;
}

#simulator__line5 {
    border-top: solid 2px #3a3a3aed;
    left: 10%;
    top: 45%;
    width: 80%;
    animation: appear_line 17s ease 2s infinite;
}

#simulator__line6 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 50%;
    width: 80%;
    animation: appear_line 17s ease 2.5s infinite;
}

#simulator__line7 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 55%;
    width: 80%;
    animation: appear_line 17s ease 3s infinite;
}

#simulator__line8 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 60%;
    width: 80%;
    animation: appear_line 17s ease 3.5s infinite;
}

#simulator__line9 {
    border-top: solid 2px #3a3a3aed;
    left: 10%;
    top: 65%;
    width: 80%;
    animation: appear_line 17s ease 4s infinite;
}

#simulator__line10 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 70%;
    width: 80%;
    animation: appear_line 17s ease 4.5s infinite;
}

#simulator__line11 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 75%;
    width: 80%;
    animation: appear_line 17s ease 5s infinite;
}

#simulator__line12 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 80%;
    width: 80%;
    animation: appear_line 17s ease 5.5s infinite;
}

#simulator__line13 {
    border-top: solid 2px #3a3a3aed;
    left: 10%;
    top: 85%;
    width: 80%;
    animation: appear_line 17s ease 6s infinite;
}

#simulator__line14 {
    border-top: solid 1px #3a3a3aed;
    left: 10%;
    top: 90%;
    width: 80%;
    animation: appear_line 17s ease 6.5s infinite;
}

.small-text {
    font-size: 14px;
    color: #7b7b7b;
    font-style:italic;
}

.OptionIcons {
    width:200px;
}

/*MEASURES PAGE*/
.section__grey {
    width: 100%;
    padding: 15px;
    background-image: linear-gradient(to left, #f8f9fa, #f2f3f5);
    color: #6b7075;
    flex-wrap: wrap;
}

#simulator__past_simulation{
    display:flex;
    flex-wrap:wrap;
    align-content:center;
}

.simulator__window_previous img {
    object-fit: contain;
}

.simulator__window_previous {
    width:150px;
    height:200px;
    text-align:right;
}

.previous_designs {
    object-fit: contain !important;
    width: 100%;
}

.remove_icon {
    width:30px;
    height:30px;
    text-align:right;
}

.fit {
    width:100%;
    height:100%;
    object-fit: cover;
}

/*Popup Login - Signup */

.Popup__background {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, #0000008f, #adabab7a);
    z-index: 10;
    animation:fade 1s ease;
    display:none;
}

.Popup__background-home {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

#Popup__Auth {
    margin: 20vh 15vw;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: inset #000000 0px 0px 4px 0px;
}

#Popup__Auth-home {
    margin: 20vh 15vw;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: inset #000000 0px 0px 4px 0px;
    opacity: 0.8;
}

#Auth__Form label {
    display:none;
}

.Menu_Auth{
    margin:0 0;
    
}

.Menu_Auth a {
    font-size: 22px;
    color: #000000;
}

#Auth__Form input {
    margin-top: 15px;
    width: 100%;
    max-width: 300px;
}

#CGU_link {
    color:#000000;
}

.close_icon {
    float: right;
    position: absolute;
    right: 15px;
    z-index:20;
}

#contact {
    max-width: 350px;
    margin: auto;
}

#CGU {
    width: auto !important;
    margin-right: 20px !important;
}

#simulator__window_color {
    height:100%;
    width:100%;
    position:absolute;
}

#simulator__window_color_measures {
    height: 100%;
    width: 100%;
    position: absolute;
}

.Option_Background {
    width:100px;
    height:100px;
    object-fit:cover;
    margin:5px auto;
}

.Option_Background a {
    width: 100px;
    height: 100%;
    margin-bottom:15px;
}

.Option_Background_color {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 5px auto;
}

.Option_Background_color a {
    width: 50px;
    height: 100%;
    
}

.Option_Background_Models {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: auto;
}

.OptionIcons {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-color: #ffffff;
    box-shadow: inset #7b7b7b 0px 0px 2px;
}

#simulator__window_fabric {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity:O.5;
}

#simulator__window_fabric_measures {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: O.5;
}

.full{
    width:100%;
    height:100%;
}

#Name_warn, #Email_warn, #Password_warn, #CGU_warn, #Email_warn_unique, #Email_warn_notfound, #Password_warn_nomatch {
    display: none;
    animation: fade_wiggle 0.25s ease-out;
    color: #ffffff;
    background-color: #000000;
    width: 85%;
    margin: auto;
}

#Menu_Link_My_Dashboard {
    color:#ffffff;
    font-size:18px;
}

.menu_Dashboard a {
    color:#ffffff;
}

.menu_Dashboard {
    margin: auto;
    color: #ffffff;
    padding: 0 15px 0 15px;
    background-color:#000000;
    border-radius:10px;
}

#preview_real img {
    opacity:0;
    animation: fade 1s ease-out 0.05s forwards;
}


/*MEASURES*/
.Sticky_Position {
    position: sticky !important;
}

#Measures__Preview_color {
    width: 75px;
    height: 90%;
    margin: 5px auto;
}

.Row_white:hover  #Measures__Preview_color {
    transform: scale(1.05);
    transition:transform 0.3s ease-out;
}

.Measures_Previews_Div{
    width:75px;
    height:100px;
    object-fit:contain;
}

.Measures_Previews_Div img {
    width: 75px;
    height: 90%;
    object-fit: cover;
    padding:0 0 0 0;
    margin-top:5px;
}

.Full_Preview_Past {
    position:absolute;
    width: 120px;
    height: 150px;
    object-fit: cover;
}

simulator__window_top_Measures {
    position:absolute;
    width: 100%;
    height: 100%;
}

simulator__window_top_Measures img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

simulator__window_bottom_Measures {
    position:absolute;
    width: 100%;
    height:100%;
}

simulator__window_bottom_Measures img {
        width: 100%;
        height: 100%;
        object-fit: contain;
}


#simulator__window_previous_delete_0 {
    width: 30px;
    height: 30px;
}

.Row_white {
    background-color: #ffffff;
    box-shadow: inset #7b7b7b 0px 0px 2px;
}

#sure_verification{
    height:30px;
    width:30px;
}

.Row_white:hover .Measures_Previews_Div {
    transform: scale(1.08);
    transition: transform 0.3s ease-out;
}

.header__language-choice {
    color: #000000;
    text-align:center;
}

.Previous_Simul a {
    background-color:#000000;
    color:#ffffff;
    margin-right:15px;
    padding:2px 15px;
    font-size:15px;
}

/*DASHBOARD*/

.dashboard__menu p {
    margin:auto;
    width:100%;
}

.dashboard__menu img {
    width: 25px;
    height: 25px;
    margin-right: 30px;
    margin-left: 10px;
}

.Dashboard__title{
    font-size:19px;
}

.white_background{
    background-color:#ffffff;
    box-shadow:#000000 0 0 1px 0;
}

.dashboard__menu {
    padding: 4px 10px 4px 10px;
    margin-bottom: 4px;
    background-image: radial-gradient(#cfcdcd, #FFFFFF);
    opacity:0;
    animation: fade 1s ease-out 0.2s forwards;
}

.active_link {
    background-image: radial-gradient(#565656, #b3b3b3) !important;
}

.active_link a {
    color: #ffffff !important;
}

/*APPOINTMENT*/
.appointment_display_window {
    min-height:350px;
}

.horizontal_timezones{
    width:5%;
    height:100%;
}

.horizontal_timezones_div{
    position:absolute;
}

#appointment__window {
    background-image: url("../IMAGES/APPOINTMENT/World_full.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position:absolute;
}

.Timezones_hover {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index:100;
    position:absolute;
    opacity:0;
}

#UTC-Options a {
    color: #000000;
    flex:none;
}

#UTC-Options ul {
    padding-left:5px;
}

#UTC-8 {
    background-image: url("../IMAGES/APPOINTMENT/UTC-8.png");
    animation: fade_long 5s ease infinite; 
}

#UTC-7 {
    background-image: url("../IMAGES/APPOINTMENT/UTC-7.png");
    animation: fade_long 5s ease 0.25s infinite;
}

#UTC-6 {
    background-image: url("../IMAGES/APPOINTMENT/UTC-6.png");
    animation: fade_long 5s ease 0.5s infinite;
}

#UTC-5 {
    background-image: url("../IMAGES/APPOINTMENT/UTC-5.png");
    animation: fade_long 5s ease 0.75s infinite;
}

#UTC-4 {
    background-image: url("../IMAGES/APPOINTMENT/UTC-4.png");
    animation: fade_long 5s ease 1s infinite;
}

#UTC-3 {
    background-image: url("../IMAGES/APPOINTMENT/UTC-3.png");
    animation: fade_long 5s ease 1.25s infinite;
}

#UTC-2 {
    background-image: url("../IMAGES/APPOINTMENT/UTC-2.png");
    animation: fade_long 5s ease 1.5s infinite;
}

#UTC0 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+0.png");
    animation: fade_long 5s ease 1.75s infinite;
}

#UTC1 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+1.png");
    animation: fade_long 5s ease 2s infinite;
}

#UTC2 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+2.png");
    animation: fade_long 5s ease 2.25s infinite;
}

#UTC3 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+3.png");
    animation: fade_long 5s ease 2.5s infinite;
}

#UTC4 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+4.png");
    animation: fade_long 5s ease 2.75s infinite;
}

#UTC5 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+5.png");
    animation: fade_long 5s ease 3s infinite;
}

#UTC6 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+6.png");
    animation: fade_long 5s ease 3.25s infinite;
}

#UTC7 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+7.png");
    animation: fade_long 5s ease 3.5s infinite;
}

#UTC8 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+8.png");
    animation: fade_long 5s ease 3.75s infinite;
}

#UTC9 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+9.png");
    animation: fade_long 5s ease 4s infinite;
}

#UTC10 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+10.png");
    animation: fade_long 5s ease 4.25s infinite;
}

#UTC11 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+11.png");
    animation: fade_long 5s ease 4.5s infinite;
}

#UTC12 {
    background-image: url("../IMAGES/APPOINTMENT/UTC+12.png");
    animation: fade_long 5s ease 4.75s infinite;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

/*PRE-SIMULATOR DRESSES*/

#background__top-ladies-dark {
    background-image: url(../IMAGES/LADIES/Ladies-top-dark.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
}

.personalisation__background-high {
    width: 100%;
    position: relative;
    margin-top: 20vh;
}

.section__grey {
    width: 100%;
    padding: 15px;
    background-image: linear-gradient(to left, #f8f9fa, #f2f3f5);
    color: #6b7075;
    flex-wrap: wrap;
}

.section__greyclear {
    background-color: #d8d8d8;
}

.width100{
    width:100%;
}

.logo_choice{
    width:50px;
    height:50px;
}

.section__greyclear:hover .logo_choice{
    transform:scale(1.1);
    transition:transform 2s ease-out 0.1s;
}

.section__greyclear:hover .button {
    background-color: #3c3c3c;
    transition:background-color 1s ease 0.2s;
}

/*DRAG AND DROP IMAGE - PICTURE*/
#indicatorContainerWrap {
    position: relative;
    display: inline-block
}

.body_drag {
    background-color: #000000;
    width:100%;
}

.rad-cntnt {
    position: absolute;
    display: table;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 24px
}

#prgFileSelector {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 10
}

input #file-upload-button{
    background-color:#000000;
}

#Upload_picture-comment input {
    width: 100%;
    min-height:50px;
}

#Upload_picture-comment label{
    visibility:hidden;
}

/*SUIT LADIES PRESENTATION*/

#background__top-ladies-suit {
    background-image: url(../IMAGES/LADIES/Ladies-top-suit.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
}

#background__top-ladies-suit-dark {
    background-image: url(../IMAGES/LADIES/Ladies-top-suit-dark.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
}

.caroussel__ladies-suit {
    width:378px;
    height:252px;
    object-fit:cover;
    margin:auto;
}

.white_color{
    color:#ffffff;
}


/*DASHBOARD*/

.dashboard__menu a {
    color:#000000;
}

/*MEASURES DASHBOARD*/

.button_option {
    width: 100px;
    text-align: center;
    padding: 2px 5px;
    background-color: #efe9da;
    box-shadow: #000000 0 0 1px 1px;
    color:#000000;
}

.circle_home{
    background-image:radial-gradient(#ffffff, #dddddd);
    border-radius:50%;
    height:200px;
    width:200px;
}

.absolute30 {
    position:absolute;
    top:30vh;
}

.absolute_home {
    position: absolute;
    top: 10vh;
    background-image:none;
}

.absolute3 {
    position: absolute;
    top: 3vh;
    right:3vh;
}

.blanc {
    color: #ffffff;
    text-shadow: 0px 2px 2px #000000;
}

.footer-home {
    position: absolute;
    bottom: 20px;
    width: 100vw;
    text-align: center;
    color: #ffffff;
}

.home_caroussel {
box-shadow:#ffffff 0 0 2px 2px;
}

.absolute_title-home{
 position:absolute;
 left:15vw;
 top:3vh;
 text-shadow:none !important;
}

.Menu_dash {
    height: 20vh;
    
}

.Menu_dash a {
    height: 100%;
    width:100%;
    opacity: 1;
    transition: opacity 0.7s ease-in-out 0.05s;
}

.Menu_dash:hover a{
    opacity:0.5;
    transition:opacity 0.7s ease-in-out 0.05s;
}

.Math_menu {
    background-image: url(../IMAGES/DASHBOARD/math.jpg);
    background-size:cover;
    height:100%;
    width:100%;
}

.Phy_menu {
    background-image: url(../IMAGES/DASHBOARD/physique.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.Bio_menu {
    background-image: url(../IMAGES/DASHBOARD/bio.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.Valorisation_menu {
    background-image: url(../IMAGES/DASHBOARD/valorisation.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.Top_Label {
    position:absolute;
    top:25vh;
    width:100vw;
    margin:auto;
}

.menu_cours {
    color: #000000;
    background-color: #000000;
}

.menu_cours p {
    margin:0 !important;
}

.menu_cours a {
    color:#ffffff;
}

.white_background a{
    color:#000000;
}

.white_background img {
    width:1em;
    height:1em;
}

.bg_fusee {
    background-image: url(../IMAGES/TEACHING/Download_bg.jpg);
    height:30vh;
    width:100%;
    background-size:contain;
    background-repeat:no-repeat;
}

#Arrow_right img{
    width: 80px;
    height: 80px;
    animation: pingpong 1s ease-in-out infinite;
}

.cours h2 {
    color: #ffffff;
}

.black{
    color:#000000 !important;
}

.part_cours {
    background-color: #afafaf;
}

/*KEYFRAMES ANIMATIONS*/
/*FADE LONG*/
@keyframes fade_long {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade_long {
    from {
        opacity: 0;
    }


    10% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/*PULSE NAVIGATION - SIMULATOR NAVIGATION */
@keyframes pingpong {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
    transform: translateX(0px);
    }
}

@-webkit-keyframes pingpong {
    from {
        transform: translateX(0px);
    }


    25% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    to {
        transform: translateX(0px);
    }
}


/*FADE - IMAGES OF SIMULATOR + BUTTON CONFIRM CHOICE */

@keyframes fade {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*FADE_WIGGLE FOR IMPORTANT ALERTS*/

@keyframes fade_wiggle {
    0% {
        opacity: 0;
        transform:translateX(0);
    }

    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(5px);
    }

    40% {
        transform: translateX(0px);
    }

    55% {
        transform: translateX(-5px);
    }

    70% {
        transform: translateX(0px);
    }

    85% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-webkit-keyframes fade_wiggle {
    from {
        opacity: 0;
        transform: translateX(0px);
    }

    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(5px);
    }

    40% {
        transform: translateX(0px);
    }

    55% {
        transform: translateX(-5px);
    }

    70% {
        transform: translateX(0px);
    }

    85% {
        transform: translateX(5px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*APPEAR_LINE - THE SIMULATOR BACKGROUND */
@keyframes appear_line {
    0% {
        opacity: 0;
        transform: scaleX(0.7);
    }

    50% {
        opacity: 1;
        transform: scaleX(1);
    }

    100% {
        opacity: 0;
        transform: scaleX(0.7);
    }
}

@-webkit-keyframes appear_line {
    from {
        opacity: 0;
        transform: scaleX(0.7);
    }

    50% {
        opacity: 1;
        transform: scaleX(1);
    }

    to {
        opacity: 0;
        transform: scaleX(0.7);
    }
}



/*MEDIA QUERIES*/
/*FOR 1220px MIN*/
@media only screen and (max-width: 1220px) {
    .home__images-cover {
        object-fit: cover !important;
    }
}

/*FOR 574px MIN*/
@media only screen and (min-width: 574px) {
    .quicklinks {
        text-align:justify !important;
    }
}

@media only screen and (min-width: 1100px) {
    .simulator__window {
        min-height: 450px;
    }

    #selector__options {
    overflow: no-content;
    flex-wrap:wrap;
    display:flex;
}

#selector__options a {
    display: inline-block;
}
}

@media only screen and (min-width: 776px) {

    .home__label-button {
        opacity: 0;
        color: #000000;
    }

    #picture_option{
        height:100%;
    }

    .link__hover:hover .home__label-button {
        color: #000000f2;
        opacity: 1;
        padding: 5px 30px;
        border-radius: 25px;
        background-image: linear-gradient(to right, #e9ecef00,#ffffff5e,#ffffff5e,#ffffff5e,#e9ecef00);
        transition: color 1s ease-out, background-image 0.4s ease-in 0.3s, opacity 0.4s ease-out 0.1s;
        -webkit-transition: color 0.5s ease-out 1.1s, background-color 0.4s ease-in 1s, opacity 0.4s ease-out 0.1s;
    }

    #Popup__Auth {
        margin:20vh 15vw;
    }

    #Popup__Auth-home {
        margin: 20vh 15vw;
    }

    .Menu_Auth {
        margin: 0 30%;
    }

    .absolute_home {
        position: absolute;
        top: 28vh;
        background-image: linear-gradient(to right, #ffffff3b, #dddddd);
    }
}


